---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Opps, sorry. Page is not found!
`;
---

<Layout title="Opps 404 Error"> 
    <h1 class="mb-10">Not Found / Error</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_conoeouc.json"  background="transparent"  speed="1"  style="width: auto; height: 200px;" loop autoplay></lottie-player>
    <p class="mb-8">
        <a href="javascript:history.back()" class="btn btn-lg btn-link sm:btn-wide"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>
Go Back</a>
    </p>
</Layout>
