---
import '../../src/styles/globals.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/800.css';
import interFont400 from '@fontsource/inter/files/inter-latin-400-normal.woff2?url';
import interFont800 from '@fontsource/inter/files/inter-latin-800-normal.woff2?url';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="apple-touch-icon" sizes="57x57" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/favicon-16x16.png">
        <link rel="manifest" href="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="https://s3.ap-southeast-1.amazonaws.com/cdn2.jarvis-store.com/frontend/version/2/favicon/ms-icon-144x144.png">
        <link rel="preload" as="font" type="font/woff2" href={interFont400} crossorigin />
        <link rel="preload" as="font" type="font/woff2" href={interFont800} crossorigin />
    </head>
    <body class="antialiased text-white bg-[#355C7D]" style="background-image: -webkit-linear-gradient(45deg, rgb(41 50 60 / 95%) 0, rgb(41 50 60 / 98%) 100%), url(https://images.unsplash.com/photo-1566897819059-db42e135fa69?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ);">
        <div class="flex flex-col min-h-screen px-6 sm:px-12">
            <div class="flex flex-col w-full max-w-5xl mx-auto grow">
                <Header />
                <main class="grow text-center"><slot /></main>
                <Footer />
            </div>
        </div>
    </body>
</html>
